body{
    /*Adicionando imagem ao fundo*/
    background-image: url(star.jpg); 
}

.logo{
    /*Posicionamento do logo*/
    max-width:300px;
    max-height:175px;
    width: auto;
    height: auto;
    margin-left: auto;      
    margin-right: auto;     
    display: block;         
}
.div1{
    /*Cor de fundo da div*/
    background-color: #000; 
}
h1{
    /*Estilização da título*/
    text-align:center;
    color: #C8FE2E;
    font-size: 30px;
}
hr{
    /*Tentativa frustrada de fazer um sabre de luz com uma linha horizontal :( */
    border: 2px solid #f00;
    color: #fff;
    background-color: #fff;
    height: 10px;
    border-radius: 50px;
}
.TituloGuia, table, tr, td{
    /*Cor da fonte dos items da tabela*/
    color: #C8FE2E;
    
}
table, tr, td{
    /*Estilização da tabela, excluíndo agora o título*/
    border: 3px solid #f00;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    
}
table{
    /*Centralização da tabela*/
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }
a{
    /*Alterando a cor do link, isto é, retirando o padrão azul; retirando o alinhado*/
    color: #C8FE2E;
    text-decoration:none;
}
a:hover{
    /*Trocar a cor ao passar o cursor pelo link*/
    color: #f00;
}
.nave{
    /*Posicionamento do gif nave*/
    max-width:300px;
    max-height:175px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul, li{
    /*Estilização da lista*/
    font-size: 20px;
    color: #C8FE2E;
    
}
h2{
    /*Estilização*/
    text-align: center;
    color: #FFFF00;
}
.chewie{
    /*Posicionamento da imagem chewie*/
    max-width:500px;
    max-height:275px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 40px;
    margin-top: -200px;
    display: block;
}
.c3po{
    /*Posicionamento da imagem c3po*/
    max-width:500px;
    max-height:275px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 300px;
    margin-top: -270px;
    display: block;
}
.r2d2{
    /*Posicionamento da imagem r2d2*/
    max-width:500px;
    max-height:275px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 500px;
    margin-top: -270px;
    display: block;
}
.yoda{
    /*Posicionamento da imagem yoda*/
    max-width:500px;
    max-height:275px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 750px;
    margin-top: -270px;
    display: block;
}
.atat{
    /*Posicionamento do gif atat*/
    max-width:500px;
    max-height:275px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -270px;
    display: block;
}
label{
    /*Estilização*/
    color: #FFFF00
}
.button{
    /*Estilização do botão*/
    color: #000;
    border-radius: 50px;
    margin-left: 650px;
    cursor: pointer;
    border-color: #FFFF00;
}
input, textarea{
    /*Estilização das caixas*/
    border-radius: 10px;
}